@charset "utf-8";
/* CSS Document */

input{
	
	margin:10px;
	
	
}

body{
   align-self: center;
    margin-left: 40%;
    margin-top: 15%;
    font-size: 250%;
}

input{
    align-self: auto;
    
}

th{
	padding-right:10px;
	border-bottom:groove;
}

tr{
	border-bottom:thin;
}

td{
	border-bottom:groove;
    border-right: groove;
	margin:1px;
    
	
}

newTask{
    float:right;
}

